- var table_form = {id: "번호",subject: "주제",title: "제목",auth: "작성자",created: "작성일",views: "조회",hit: "추천"}
div
    table
        tr 
            th= table_form.subject
        tr.board_top_wrap
            th= table_form.id
            th= table_form.title
            th= table_form.auth
            th= table_form.created
            th= table_form.views
            th= table_form.hit
        each board in board_list.post
            tr.board_item 
                td= board.id 
                td 
                    a.hover_under(href="/board/" + board.id)= board.title 
                td= board.name 
                td= board.created 
                td= board.views 
                td= board.hit
        tr 
            td(colspan="6")
                ul.page_button_wrap
                    each i in board_list.page.getButtons()
                        li
                            if i == board_list.page.currPage
                                a.btn_page.hover_under.active(href="/" + i)= i
                            else
                                a.btn_page.hover_under(href="/" + i)= i
                


    
